@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,700);
/*font-family: 'Raleway', sans-serif;*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/*font-family: 'Open Sans', sans-serif;*/


/*Selector Universal*/
*{
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
	/* upper-alpha | upper-roman | upper-latin | url(../images/ser1.png) | disc | circle | square*/
}

header{
	width: 1200px;
	/*
	// height:100px;
	// min-height: 100px;
	// min-width: ;
	// max-height: ;
	// max-width: ;
	// RELLENOS 
	*/
	/*
		padding-top:;
		padding-right:;
		padding-bottom:;
		padding-left:;
	*/
	/*padding-top: 40px;*/

	/*Short hand*/
	/*padding: 40px; (igual para todos los costados) */
	/*padding: 40px 10px; (1er arriba abajo / 2do derecha e izquierda) */
	/*padding: 40px 10px 5px; (1er arriba / 2do der e izq / 3ero abajo) */
	/*padding: 10px 20px 30px 40px */
	padding: 15px;
	/*border-top: solid 3px #f00;*/
	/*border: solid 10px #000;*/
	/*solid | dotted | dashed | double*/
	
	/*Márgenes
		margin: 30px 20px 50px 0;
	*/
	margin: 0 auto;
	/*position: fixed;*/
	background-color: white;
	top: 0;
	left: 0;
	right: 0;
	
}

.cleaner{
	clear: both;
}

nav{
	float: right;
}
nav li{
	display: inline-block;
	margin-left: 15px;
}
nav a{
	color: #333;
}

.contenedor-inicial{
	// background-color:#E4F089;
	min-height: 500px;
	/*
	background-image: url(../images/indexbanner-bg3.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	/* repeat | no-repeat | repeat-x | repeat-y */
	/*background-attachment: scroll; /* fixed */
	background: url(../images/indexbanner-bg3.jpg) no-repeat center top scroll;
	margin-top: 59px;
}

.wrapper{
	width: 1200px;
	margin: auto;
	/*background-color: rgba(255,0,0,0.5);*/
}

.main-title{
	color: #fff;
	font-size: 40px;
	/*margin-top: 280px;
	margin-bottom: 0;*/
	margin: 280px 0 0;
	display: inline-block;
}

/*selector de hmno adyacente
da estilo a un elemento que se encuentre INMEDIATAMENTE después de otro, siempre y cuando sean hermanos
*/

.main-title + p{
	color: #fff;
	font-size: 18px;
	width: 550px;
	line-height: 37px;
}

.buscador{
	background-color: yellow;
	position: relative;
	margin-top: 230px;
}

.buscador input[type=text]{
	width: calc(100% - 200px);
	height: 70px;
	border: solid 1px #ccc;
	font-family: inherit;
	font-size: 20px;
	padding: 0 30px;
	/*padding: 0 210px 0 30px;*/
}

.buscador input[type=submit]{
	width: 200px;
	height: 70px;
	background-color: #63BBDE;
	color: #fff;
	font-family: inherit;
	font-size: 20px;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	/*COLOR PICKER (CTRL + SHIFT + C)*/
}

.servicios-destacados{
	margin-top: 150px;
}

.servicios-destacados article{
	text-align: center;
	width: 300px;
	float: left;
	padding: 0 25px;
}

/*.servicios-destacados article:hover{
	background-color: #333
}*/

.servicios-destacados article img{
	transition: transform 250ms ease-in; 
	
}
.servicios-destacados article:hover img{
	transform: rotate(360deg) scale(1.2);
	box-shadow: 0 0 12px black;
	border-radius: 50%;
}

.titletres{
	font-size: 30px;




	text-align: center;
	margin: 50px 0 10px;

}

.titletres + p{
	text-align: center;
	font-size: 15px;
	color: #333;
}
.caracteristicas{
		background-color: red;
		float: left;
		width: 350px;
}

.imagen-mitad{
	width:300px;
	float: left;
	margin: 0 100px;
}

.caract-izq article{
	position: relative;
	background:yellow;
	text-align: right;
	padding-right: 60px;
}
.caract-izq article img{
	position: absolute;
	right: 0;
	top:0;
}

.caract-der article{
	position: relative;
	background:green;
	text-align: right;
	padding-left: 60px;
	
}

.caract-der article img{
	position: absolute;
	left: 0;
	top: 0;
	
}


footer{
	background-color: #000033;
	text-align: center;
	color: white;

}

strong{
	color:#0099CC;
}


button{
	background-color: #0099FF;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.menufinal{
	background-color: #0099FF;
}

.precios{
	background: url(../images/fondos2.jpg) no-repeat; 
}
